<p id="notice"><%= notice %></p>



<h1 class="category-title" style="border-bottom:8px solid <%=@category.color%>;border-radius:100px;"><%=@category.name%></h1>
<div class=""style="border-top:1px solid <%=@category.color%>;border-radius:40px;">

<%= render "articles/listArticles",articlesToShow: @articles%>
</div>
</div>
